
.thumbnail{
            margin: 10px;
            background-size :cover;
            background-repeat: no-repeat;
            background-position: center center;

        }
.thumbnail img{
    border-radius: 100%;
        }